.hero-image img{
     width: 100%;
}

.carousel-caption{
    
       /* Add a transparency to the background
               using rgba value */
              
 
               /* Add a transparency to shadow */
               /* box-shadow: 0 26px 42px rgba(0, 0, 0, 0.1); */
               box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
               top: 32%;
            bottom: 35%;
}
.carousel-caption p{
     color: black;
}
.carousel-caption h3{
     color:black;
}